body {
  padding: 0;
  text-align: center;
  background-image: url(./../images/FondoNinja.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px
}

.game-intro {
  float: left;
  padding: 0% 10%;
}

.game-intro p {
  font-size: 18px;
  font-family: "Verdana"
}

.logo-img {
  width: 100px;
}

.arrows-img {
  width: 100px;
}

body button {
  font-size: 20px;
  background-color: rgb(34, 32, 34);
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 15px;
  margin-bottom: 5px;
  font-weight: 700;

}

#re-start-button {
  background-color: red;
  color: #fff;
  padding: 10px 20px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 5px;


}

.game-over {
  background-color: white;

}

#game-board {
  float: left;
  padding: 20px 0px;
}

.ball-img {
  display: none;
}

.high-Score {
  background-color: rgb(57, 43, 73);
  float: right;
  margin-right: 40px;
  margin-top: 10%;
  font-size: 20px;
  color: wheat;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 5px;
  font-weight: bolder;

}


.game-Score {
  background-image: url(./images/FondoNinja.png);
  float: right;
  margin-right: 0%;
  margin-top: 20%;
  border: 10px;
  box-shadow: 22px
}

.lives {
  background-color: rgb(57, 43, 73);
  float: right;
  margin-right: 50px;
  font-size: 20px;
  color: wheat;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 5px;
  font-weight: bolder;
}

.game-Score p {

  font-family: "Verdana";
  color: white;
  float: right;
  margin-right: 50px;
  margin-top: 30%;
  font-size: 20px;
  padding: 10px;
  border-radius: 15px;
  background-color: rgb(57, 43, 73);
  box-shadow: 5px;
  font-weight: bolder;
}


#Score {
  font-size: 10px;
  color: white
}